{
  "openapi": "3.0.1",
  "info": {
    "title": "Mesh Connect Integration API",
    "description": "\nMesh allows users to connect accounts of financial institutions,\ncrypto exchanges, and self-custody wallets. Mesh handles credential\nvalidation, MFA, and error handling for each integration. After\nan account is connected, Mesh allows client applications to read holdings,\ntransaction history and balances and execute crypto transfers (with user approval).",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://integration-api.meshconnect.com"
    },
    {
      "url": "https://sandbox-integration-api.meshconnect.com"
    }
  ],
  "paths": {
    "/api/v1/account/verify": {
      "post": {
        "tags": [
          "Integrations account information"
        ],
        "summary": "Verify account identity. Replaced by exchange/verify endpoint.",
        "description": "Return KYC details of the user.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/B2BBrokerAccountDetailsRequest"
                  }
                ]
              },
              "example": {"authToken":"Secret authentication token","integrationId":"4d3364d9-fa09-4382-ad4e-5cab2e355fd4"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully returns account details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerAccountDetailsResponseApiResult"
                },
                "example": {"content":{"integrationName":"Coinbase","firstName":"Firstname","middleName":"Midlename","lastName":"Lastname","accountNumber":"1234567","email":"enduser@domain.com","mobileNumber":"123456798","companyName":"MyCorp Inc.","countryCode":"GB","city":"City Name","postalCode":"4251","idType":"idCard","idNumber":"123","dateOfBirth":574732800},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "400": {
            "description": "Request to retrieve account details is not correct.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/exchange/verify": {
      "post": {
        "tags": [
          "Integrations account information"
        ],
        "summary": "Verify account identity.",
        "description": "Returns basic profile data of the user's exchange account.\r\nAvailable data varies by exchange and linked account.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExchangeAccountInfoRequest"
                  }
                ],
                "description": "Exchange account info request."
              },
              "example": {"authToken":"Secret authentication token","integrationId":"4d3364d9-fa09-4382-ad4e-5cab2e355fd4","accountInfo":["companyName","firstName","lastName"]}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully returns account details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerAccountDetailsResponseApiResult"
                },
                "example": {"content":{"integrationName":"Coinbase","firstName":"Firstname","middleName":"Midlename","lastName":"Lastname","accountNumber":"1234567","email":"enduser@domain.com","mobileNumber":"123456798","companyName":"MyCorp Inc.","countryCode":"GB","city":"City Name","postalCode":"4251","idType":"idCard","idNumber":"123","dateOfBirth":574732800},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "400": {
            "description": "Request to retrieve account details is not correct.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/assets/{assetType}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get available assets",
        "parameters": [
          {
            "name": "assetType",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "equity",
                "cryptocurrency"
              ],
              "allOf": [
                {
                  "$ref": "#/components/schemas/AssetType"
                }
              ]
            }
          },
          {
            "name": "Search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Count",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetPaginationResponseApiResult"
                },
                "example": {"content":{"items":[{"symbol":"AAPL","name":"Apple Inc","type":"equity"},{"symbol":"MSFT","name":"Microsoft Inc","type":"equity"}],"total":5},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/assets/equity/{symbol}/price": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get symbol price",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BPriceInfoApiResult"
                },
                "example": {"content":{"items":[{"symbol":"AAPL","name":"Apple Inc","type":"equity"},{"symbol":"MSFT","name":"Microsoft Inc","type":"equity"}],"total":5},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/balance/get": {
      "post": {
        "tags": [
          "Balance"
        ],
        "summary": "Get account balance",
        "description": "Get real-time account fiat balances.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BalanceBrokerBaseRequest"
                  }
                ]
              },
              "example": {"authToken":"Secret authentication token","type":"binanceInternationalDirect"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerAccountBalanceModelApiResult"
                },
                "example": {"content":{"balances":[{"cash":158.5,"buyingPower":258.5,"currencyCode":"USD"},{"cash":10,"buyingPower":10,"currencyCode":"EUR"}],"totalCashUsdValue":10,"totalBuyingPowerUsdValue":10},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "403": {
            "description": "The API key used does not have read permission to call this Mesh endpoint.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/balance/portfolio": {
      "get": {
        "tags": [
          "Balance"
        ],
        "summary": "Get aggregated portfolio fiat balances",
        "description": "Get cached aggregated fiat balances from all connected integrations.",
        "parameters": [
          {
            "name": "UserId",
            "in": "query",
            "description": "End user ID to get the aggregated portfolio for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BFiatPortfolioModelApiResult"
                },
                "example": {"content":{"fiatBalances":[{"symbol":"USD","cash":3.099,"buyingPower":3.099},{"symbol":"EUR","cash":-102.880,"buyingPower":1293.596}]},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "403": {
            "description": "The API key used does not have read permission to call this Mesh endpoint.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/cataloglink": {
      "get": {
        "tags": [
          "Managed Account Authentication"
        ],
        "summary": "Get catalog link",
        "description": "Get personalized catalog link for client",
        "parameters": [
          {
            "name": "UserId",
            "in": "query",
            "description": "A unique Id representing the end user. Typically this will be a user Id from the\r\nclient application. Personally identifiable information, such as an email address or phone number,\r\nshould not be used. 50 characters length maximum.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          },
          {
            "name": "BrokerType",
            "in": "query",
            "description": "Type of integration to redirect to. Will redirect to catalog if not provided.\r\nNot supported types: DeFiWallet, CryptocurrencyAddress, CryptocurrencyWallet.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BrokerType"
                }
              ]
            }
          },
          {
            "name": "EnableTransfers",
            "in": "query",
            "description": "Link Configuration identifier - an optional paramater for used configuration.\r\nIf not provided default configuration with all avaialbe integrations will be used.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "RestrictMultipleAccounts",
            "in": "query",
            "description": "The final screen of Link allows users to “continue” back to your app or “Link another account.”\r\nIf this param is present then this button will be hidden.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "DisableApiKeyGeneration",
            "in": "query",
            "description": "For direct integrations that also support API keys, Link presents the user with the option to generate an API key for seamless access.\r\nIf this param is true, this feature will be disabled.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog link created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogLinkApiResult"
                },
                "example": {"content":{"url":"https://web.meshconnect.com/broker-connect?auth_code={authCode}","iFrameUrl":"https://web.meshconnect.com/b2b-iframe/{clientId}/broker-connect?auth_code={authCode}"},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "404": {
            "description": "API Client not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"notFound","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "400": {
            "description": "BadRequest can happen in following cases:\r\n<list type=\"number\"><item><description>userId parameter not specified</description></item><item><description>Callback url parameter is invalid</description></item><item><description>Client does not have callback url specified</description></item></list>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        },
        "deprecated": true
      },
      "post": {
        "tags": [
          "Managed Account Authentication"
        ],
        "summary": "Get catalog link with parameters",
        "description": "Get personalized catalog link for client supplying parameters for Link actions, such as transfers",
        "parameters": [
          {
            "name": "UserId",
            "in": "query",
            "description": "A unique Id representing the end user. Typically this will be a user Id from the\r\nclient application. Personally identifiable information, such as an email address or phone number,\r\nshould not be used. 50 characters length maximum.",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          },
          {
            "name": "BrokerType",
            "in": "query",
            "description": "Type of integration to redirect to. Will redirect to catalog if not provided.\r\nNot supported types: DeFiWallet, CryptocurrencyAddress, CryptocurrencyWallet.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BrokerType"
                }
              ]
            }
          },
          {
            "name": "EnableTransfers",
            "in": "query",
            "description": "Link Configuration identifier - an optional paramater for used configuration.\r\nIf not provided default configuration with all avaialbe integrations will be used.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "RestrictMultipleAccounts",
            "in": "query",
            "description": "The final screen of Link allows users to “continue” back to your app or “Link another account.”\r\nIf this param is present then this button will be hidden.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "DisableApiKeyGeneration",
            "in": "query",
            "description": "For direct integrations that also support API keys, Link presents the user with the option to generate an API key for seamless access.\r\nIf this param is true, this feature will be disabled.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Data to execute transfer.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InitializeTransfersForLinkRequest"
                  }
                ]
              },
              "example": {"toAddresses":[{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"ETH","address":"0x00000000000000000000000"},{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"USDC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"MATIC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDC","address":"0x00000000000000000000000"}],"clientFee":0,"isCustomClientFeeProvided":false,"isInclusiveFeeEnabled":false}
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InitializeTransfersForLinkRequest"
                  }
                ]
              },
              "example": {"toAddresses":[{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"ETH","address":"0x00000000000000000000000"},{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"USDC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"MATIC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDC","address":"0x00000000000000000000000"}],"clientFee":0,"isCustomClientFeeProvided":false,"isInclusiveFeeEnabled":false}
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InitializeTransfersForLinkRequest"
                  }
                ]
              },
              "example": {"toAddresses":[{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"ETH","address":"0x00000000000000000000000"},{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"USDC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"MATIC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDC","address":"0x00000000000000000000000"}],"clientFee":0,"isCustomClientFeeProvided":false,"isInclusiveFeeEnabled":false}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Catalog link created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogLinkApiResult"
                },
                "example": {"content":{"url":"https://web.meshconnect.com/broker-connect?auth_code={authCode}","iFrameUrl":"https://web.meshconnect.com/b2b-iframe/{clientId}/broker-connect?auth_code={authCode}"},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "404": {
            "description": "API Client not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"notFound","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "400": {
            "description": "BadRequest can happen in following cases:\r\n<list type=\"number\"><item><description>userId parameter not specified</description></item><item><description>Callback url parameter is invalid</description></item><item><description>Client does not have callback url specified</description></item></list>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/linktoken": {
      "post": {
        "tags": [
          "Managed Account Authentication"
        ],
        "summary": "Get Link token with parameters",
        "description": "Get a short lived, one-time use token for initializing a Link session using the client-side SDKs",
        "requestBody": {
          "description": "Create Link token request.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GetLinkTokenRequest"
                  }
                ]
              },
              "example": {"userId":"UserId","configurationId":"18a20b11-e47f-43b9-8546-94284e9ee547","restrictMultipleAccounts":true,"transferOptions":{"toAddresses":[{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"ETH","address":"0x00000000000000000000000"},{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"USDC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"MATIC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDC","address":"0x00000000000000000000000"}],"amountInFiat":10,"isInclusiveFeeEnabled":false},"disableApiKeyGeneration":false}
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GetLinkTokenRequest"
                  }
                ]
              },
              "example": {"userId":"UserId","configurationId":"18a20b11-e47f-43b9-8546-94284e9ee547","restrictMultipleAccounts":true,"transferOptions":{"toAddresses":[{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"ETH","address":"0x00000000000000000000000"},{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"USDC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"MATIC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDC","address":"0x00000000000000000000000"}],"amountInFiat":10,"isInclusiveFeeEnabled":false},"disableApiKeyGeneration":false}
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/GetLinkTokenRequest"
                  }
                ]
              },
              "example": {"userId":"UserId","configurationId":"18a20b11-e47f-43b9-8546-94284e9ee547","restrictMultipleAccounts":true,"transferOptions":{"toAddresses":[{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"ETH","address":"0x00000000000000000000000"},{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"USDC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"MATIC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDC","address":"0x00000000000000000000000"}],"amountInFiat":10,"isInclusiveFeeEnabled":false},"disableApiKeyGeneration":false}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Link token created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LinkTokenModelApiResult"
                },
                "example": {"content":{"linkToken":"aHR0cHM6Ly93ZWIubWVzaGNvbm5lY3QuY29tL2IyYi1pZnJhbWUve2NsaWVudElkfS9icm9rZXItY29ubmVjdD9hdXRoX2NvZGU9e2F1dGhDb2RlfQ=="},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "404": {
            "description": "API Client not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"notFound","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "400": {
            "description": "BadRequest can happen in following cases:\r\n<list type=\"number\"><item><description>userId parameter not specified</description></item></list>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/token/refresh": {
      "post": {
        "tags": [
          "Managed Account Authentication"
        ],
        "summary": "Refresh auth token",
        "description": "Refresh auth token of the connected institution.\r\nSome institutions do not require tokens to be refreshed.\r\n            \r\nThe following institutions require custom flows:\r\n            \r\nWeBull: AuthToken should be provided along with the RefreshToken\r\n            \r\nVanguard: security settings may activate MFA, requiring user action.\r\nIf MFA is triggered, a second refresh request should be sent.\r\nSecond request should contain MFA code and access token obtained from initial response",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerRefreshTokenRequest"
                  }
                ]
              },
              "example": {"refreshToken":"Secret refresh token","type":"coinbase"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerRefreshTokenResponseApiResult"
                },
                "example": {"content":{"status":"succeeded","expiresInSeconds":86400,"brokerAccountTokens":[{"accessToken":"New secret token","refreshToken":"New secret refresh token"}]},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Unauthorized token","displayMessage":"Could not refresh the authentication token. The provided data is not correct","errorType":"badRequest"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/account": {
      "delete": {
        "tags": [
          "Managed Account Authentication"
        ],
        "summary": "Remove connection",
        "description": "Remove connection to the financial institution and erase all related data completely.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerBaseRequest"
                  }
                ]
              },
              "example": {"authToken":"Secret authentication token","type":"robinhood"}
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerBaseRequest"
                  }
                ]
              },
              "example": {"authToken":"Secret authentication token","type":"robinhood"}
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerBaseRequest"
                  }
                ]
              },
              "example": {"authToken":"Secret authentication token","type":"robinhood"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"ok","message":"","errorType":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/status": {
      "get": {
        "tags": [
          "Managed Account Authentication"
        ],
        "summary": "Get health status",
        "description": "Get the list of supported institutions and their health statuses.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokersHealthStatusListApiResult"
                },
                "example": {"content":[{"type":"robinhood","name":"Robinhood","isUp":true,"supportedProducts":["balance","holdings","identity","orders","transfers"]},{"type":"celsius","name":"Celsius","isUp":false,"description":"Temporarily disabled","downTimeStart":1655891444,"supportedProducts":["balance","orders","transfers","holdings"]},{"type":"deFiWallet","name":"MetaMask","isUp":false,"supportedProducts":["transfers","holdings"],"deFiWalletData":{"id":"00000000-0000-0000-0000-000000000000","name":"MetaMask"}}],"status":"ok","message":"","errorType":""}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/authenticationSchemes": {
      "get": {
        "tags": [
          "Self Managed Account Authentication"
        ],
        "summary": "Get authentication schemes",
        "description": "Get authentication schemes of available integrations to perform authentication programmatically (not using\r\nthe Web Catalog UI).",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerAuthenticationSchemeIReadOnlyCollectionApiResult"
                },
                "example": {"content":[{"brokerType":"coinbasePro","authenticationSchemeType":"apiKey","initialAuthenticationModel":{"fields":[{"name":"Username","description":"API key"},{"name":"Password","description":"Secret key"},{"name":"AuthToken","description":"Passphrase"},{"name":"Type","description":"CoinbasePro"}]},"mfaSchemes":[],"instructionsUrl":"https://help.coinbase.com/en/pro/other-topics/api/how-do-i-create-an-api-key-for-coinbase-pro"}],"status":"ok","message":"","errorType":""}
              }
            }
          }
        }
      }
    },
    "/api/v1/authenticate": {
      "post": {
        "tags": [
          "Self Managed Account Authentication"
        ],
        "summary": "Authenticate user's account",
        "description": "Authenticate user's brokerage/exchange account programmatically (not using the Web Catalog UI)",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "Id of the end-user",
            "required": true,
            "schema": {
              "maxLength": 50,
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Authentication request.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/B2BBrokerAuthRequest"
                  }
                ]
              },
              "example": {"username":"username","password":"password","mfaCode":"000000","mfaType":"phone","isSensitiveFieldsEncrypted":false,"isTryingAnotherWay":false,"type":"robinhood"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerAuthResponseApiResult"
                },
                "example": {"content":{"status":"succeeded","expiresInSeconds":7200,"accountTokens":[{"account":{"meshAccountId":"00000000-0000-0000-0000-000000000000","frontAccountId":"00000000-0000-0000-0000-000000000000","accountId":"Id of the account","accountName":"Name of the account"},"accessToken":"Access token, allowing access to the integration","refreshToken":"Optional refresh token, allowing to refresh the access token"}]},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error"
          },
          "503": {
            "description": "Service Unavailable"
          }
        }
      }
    },
    "/api/v1/authenticate/{brokerType}": {
      "get": {
        "tags": [
          "Self Managed Account Authentication"
        ],
        "summary": "Get OAuth authentication link",
        "description": "Get OAuth link for the integrations with `OAuth` AuthenticationSchemeType",
        "parameters": [
          {
            "name": "brokerType",
            "in": "path",
            "description": "Type of the integration to connect",
            "required": true,
            "schema": {
              "enum": [
                "robinhood",
                "eTrade",
                "alpaca",
                "tdAmeritrade",
                "weBull",
                "stash",
                "interactiveBrokers",
                "public",
                "coinbase",
                "kraken",
                "coinbasePro",
                "cryptoCom",
                "openSea",
                "binanceUs",
                "gemini",
                "cryptocurrencyAddress",
                "cryptocurrencyWallet",
                "okCoin",
                "bittrex",
                "kuCoin",
                "etoro",
                "cexIo",
                "binanceInternational",
                "bitstamp",
                "gateIo",
                "acorns",
                "okx",
                "bitFlyer",
                "coinlist",
                "huobi",
                "bitfinex",
                "deFiWallet",
                "krakenDirect",
                "vanguard",
                "binanceInternationalDirect",
                "bitfinexDirect",
                "bybit",
                "paxos",
                "coinbasePrime",
                "btcTurkDirect",
                "kuCoinDirect",
                "okxOAuth",
                "paribuDirect",
                "robinhoodConnect",
                "blockchainCom",
                "bitsoDirect",
                "binanceConnect",
                "binanceOAuth",
                "revolutConnect",
                "binancePay",
                "bybitDirect",
                "paribuOAuth",
                "payPalConnect"
              ],
              "allOf": [
                {
                  "$ref": "#/components/schemas/BrokerType"
                }
              ]
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Id of the end-user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerAuthPromptResponseApiResult"
                },
                "example": {"content":{"status":"redirect","redirectLink":"https://web.meshconnect.com/broker-connect/callback","linkToken":"Link to the integration's site"},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/integrations": {
      "get": {
        "tags": [
          "Managed Account Authentication"
        ],
        "summary": "Retrieve the list of all available integrations.",
        "description": "Returns a list of integrations with details including the integration ID, name, type,\r\nDeFi wallet provider ID, and categories.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationsResponseApiResult"
                },
                "example": {"content":{"items":[{"id":"b7efa542-0b16-4a2a-8f89-00143298e615","name":"CoinbasePro","type":"coinbasePro","style":{"fieldActiveLight":"0052FF","buttonPrimaryLight":"0052FF","buttonHoverLight":"014CEC","buttonTextLight":"FFFFFF","buttonTextHoverLight":"FFFFFF","fieldActiveDark":"578BFA","buttonPrimaryDark":"578BFA","buttonHoverDark":"507FE5","buttonTextDark":"0A0B0D","buttonTextHoverDark":"0A0B0D"},"logo":{"logoLightUrl":"https://frontuserfilecdn.azureedge.net/public/logos/Coinbase_Logo_Light.svg","logoDarkUrl":"https://frontuserfilecdn.azureedge.net/public/logos/Coinbase_Logo_Dark.svg","logoWhiteUrl":"https://frontuserfilecdn.azureedge.net/public/logos/Coinbase_Logo_White.svg","logoBlackUrl":"https://frontuserfilecdn.azureedge.net/public/logos/Coinbase_Logo_Black.svg","logoColorUrl":"https://frontuserfilecdn.azureedge.net/public/logos/Coinbase_Logo_Color.svg","iconLightUrl":"https://frontuserfilecdn.azureedge.net/public/logos/Coinbase_Icon_Light.svg","iconDarkUrl":"https://frontuserfilecdn.azureedge.net/public/logos/Coinbase_Icon_Dark.svg","iconWhiteUrl":"https://frontuserfilecdn.azureedge.net/public/logos/Coinbase_Icon_White.svg","iconBlackUrl":"https://frontuserfilecdn.azureedge.net/public/logos/Coinbase_Icon_Black.svg","iconColorUrl":"https://frontuserfilecdn.azureedge.net/public/logos/Coinbase_Icon_Color.svg","base64Logo":"iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAA1VBMVEUAAAAAgP8AVf8AM/8AVdUAROgAQ+kAROkAROkAQ+oAQuoAROoAQ+gAROkAQ+kAQ+kAROkAQ+kAQ+kAROkAQugAQ+kAQ+kAROkAQ+kAQ+kAQ+kAQ+kAQ+kXVesOTuoAQ+kBROkERukFR+kNTeoOTeoUUusZVeshW+wpYe0qYu0uZe0yaO00ae05be5fifFgivGMqvWSr/amvfeqwPi7zfnE0/rO2/vU3/vY4vzc5fze5/zh6fzi6vzl7P3m7f3p7/3u8v7x9f73+f75+/76+//+/v////94Z10/AAAAH3RSTlMAAgMFBk9QUlNUVVZXiImKi4ykptfY2dvc3fHz9Pr8ZrpFhQAAAAFiS0dERhe6+e0AAADPSURBVBgZncHXVsJAFAXQExM6UhJCwEGPYsfesKCiAvf/P8m5swIhPLI3thbUo3gwiKNagJxyn6leCZmdNte0PCy1mdNAqswNRThBn+r0/n3+/XRAKwmg6lTnnyI/s2c6VaiI6kVerzg8phNCdWmNZHHBlRjK0LqVCTMGytC6kwkze1BdWteyGHElhopoHY7l7YZHJ3RCqBrV5VTk9288pKpABT2qs4eP2dfjPq3Eh1PihgJSLebsYslrck3DQ6aYMJUUkONXw44xnbDiY1v/vNIqVzlyMewAAAAASUVORK5CYII="},"cryptoTransfersSupported":true},{"id":"3d8f5c31-9fc0-4b61-bdfb-00fb18cbb9ad","name":"CoinCircle","type":"deFiWallet","deFiWalletProviderId":"36d8d9c0c7fe2957149ce8e878f3a01...","categories":["deFiWallet"],"style":{"fieldActiveLight":"0052FF","buttonPrimaryLight":"0052FF","buttonHoverLight":"014CEC","buttonTextLight":"FFFFFF","buttonTextHoverLight":"FFFFFF","fieldActiveDark":"578BFA","buttonPrimaryDark":"578BFA","buttonHoverDark":"507FE5","buttonTextDark":"0A0B0D","buttonTextHoverDark":"0A0B0D"},"logo":{"logoColorUrl":"https://frontuserfilecdn.azureedge.net/public/logos/CoinCircle_Logo_Color.svg","iconColorUrl":"https://frontuserfilecdn.azureedge.net/public/logos/CoinCircle_Icon_Color.svg"},"cryptoTransfersSupported":true}]},"status":"ok","message":"","errorType":""}
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/networks": {
      "get": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Get networks",
        "description": "**Get supported networks list.**\r\n\n\r\n---\r\nGet the list of all networks supported by Mesh to perform transfers, including which tokens and integrations are supported.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkModelResponseApiResult"
                },
                "example": {"content":{"networks":[{"networkType":"evm","tokens":[{"symbol":"ETH","logoUrl":"https://frontuserfilecdn.azureedge.net/public/logos/tokens/ETH.svg"},{"symbol":"USDC","logoUrl":"https://frontuserfilecdn.azureedge.net/public/logos/tokens/USDC.svg"},{"symbol":"USDT","logoUrl":"https://frontuserfilecdn.azureedge.net/public/logos/tokens/USDT.svg"}],"supportedBrokerTypes":["deFiWallet","robinhood","coinbase","kraken","binanceInternational","binanceUs"],"supportedTokens":["ETH","USDC","USDT"],"nativeSymbol":"ETH","id":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","name":"Ethereum","chainId":"1","logoUrl":"https://frontuserfilecdn.azureedge.net/public/logos/networks/Ethereum.svg"}]},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/integrations": {
      "get": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Get integrations",
        "description": "**Get supported integrations list.**\r\n\n\r\n---\r\nGet the list of all integrations supported by Mesh to perform transfers, including which tokens and networks are supported.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationNetworkResponseApiResult"
                },
                "example": {"content":{"integrations":[{"type":"robinhood","networks":[{"supportedTokens":["USDC","ETH"],"nativeSymbol":"ETH","id":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","name":"Ethereum","chainId":"1","logoUrl":"https://frontuserfilecdn.azureedge.net/public/logos/networks/Ethereum.svg"},{"supportedTokens":["MATIC","ETH"],"nativeSymbol":"MATIC","id":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","name":"Polygon","chainId":"137","logoUrl":"https://frontuserfilecdn.azureedge.net/public/logos/networks/Polygon.svg"}],"supportsOutgoingTransfers":true,"supportsIncomingTransfers":true}]},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/tokens": {
      "get": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Get supported tokens list",
        "description": "Get the list of all tokens supported by Mesh to perform transfers, including which networks and integrations are supported.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenNetworksResponseApiResult"
                },
                "example": {"content":{"tokens":[{"token":"ADA","networks":[{"id":"f7a660cd-bac0-4ae8-8ddb-c54d321b55dc","name":"Cardano","logoUrl":"https://frontuserfilecdn.azureedge.net/public/logos/networks/Cardano.svg"}],"supportedIntegrations":["gemini","binanceInternational"]}]},"status":"ok","message":"","errorType":""}
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/verify": {
      "get": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Verify the transfer request without authenticating the integration accounts",
        "description": "Checks if the combination of integration ID, network ID, token is correct for transfer.\r\nChecks if the target address is in the correct format.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/TransferVerificationRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferVerificationResponseApiResult"
                },
                "example": {"content":{"status":"succeeded","errorMessage":"transfer request verification is successful"},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/configure": {
      "post": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Configure transfer",
        "description": "**Get the list of networks and tokens eligible for a transfer, based on the provided request data.**\r\n\n\r\n---\r\nTransfers can be configured either from one connected account to another connected account, or\r\nfrom a connected account to any arbitrary address or addresses.\r\n\n\r\n* **From one connected account to another connected account:**\r\n\n\r\nThe API client provides `FromAuthToken` that is representing the source account and `ToAuthToken` that is representing the target account. Front API maps networks and tokens supported by both accounts and returns all tokens and networks eligible for a transfer as the result.\r\n\n\r\n* **From a connected account to any arbitrary address:**\r\n\n\r\nThe API client provides `FromAuthToken` that is representing the source account and the list of target addresses using the `ToAddresses` field. Front API verifies the addresses and returns the list of tokens, eligible to be transferred as the result of the operation.\r\n\n\n\r\nReturns the list of holdings on the account that can be used to perform the transfer. Each holdings item\r\ncontains the list of supported networks that can be used to transfer the corresponding asset.\r\nEach network contains details such as gas fees and the amount eligible to be transferred.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConfigureTransferRequest"
                  }
                ]
              },
              "examples": {
                "Configure with provided list of addresses": {
                  "value": {"isInclusiveFeeEnabled":false,"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAddresses":[{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","address":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6"},{"networkId":"0291810a-5947-424d-9a59-e88bb33e999d","symbol":"USDT","address":"HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH"},{"networkId":"0880db06-7c7c-4738-898f-cf74efc03c47","symbol":"BTC","address":"3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5"}]}
                },
                "Configure transfer between two connected accounts": {
                  "value": {"isInclusiveFeeEnabled":false,"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase"}
                },
                "Configure with provided list of addresses, symbol and amount": {
                  "value": {"isInclusiveFeeEnabled":false,"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAddresses":[{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","address":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6"},{"networkId":"0291810a-5947-424d-9a59-e88bb33e999d","symbol":"USDT","address":"HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH"},{"networkId":"0880db06-7c7c-4738-898f-cf74efc03c47","symbol":"BTC","address":"3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5"}],"symbol":"USDT","amount":130,"fiatCurrency":"USD"}
                },
                "Configure transfer between two connected accounts, symbol, amount in fiat and preferred network": {
                  "value": {"isInclusiveFeeEnabled":false,"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","symbol":"USDT","amountInFiat":130,"fiatCurrency":"USD","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12"}
                }
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConfigureTransferRequest"
                  }
                ]
              },
              "examples": {
                "Configure with provided list of addresses": {
                  "value": {"isInclusiveFeeEnabled":false,"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAddresses":[{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","address":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6"},{"networkId":"0291810a-5947-424d-9a59-e88bb33e999d","symbol":"USDT","address":"HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH"},{"networkId":"0880db06-7c7c-4738-898f-cf74efc03c47","symbol":"BTC","address":"3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5"}]}
                },
                "Configure transfer between two connected accounts": {
                  "value": {"isInclusiveFeeEnabled":false,"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase"}
                },
                "Configure with provided list of addresses, symbol and amount": {
                  "value": {"isInclusiveFeeEnabled":false,"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAddresses":[{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","address":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6"},{"networkId":"0291810a-5947-424d-9a59-e88bb33e999d","symbol":"USDT","address":"HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH"},{"networkId":"0880db06-7c7c-4738-898f-cf74efc03c47","symbol":"BTC","address":"3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5"}],"symbol":"USDT","amount":130,"fiatCurrency":"USD"}
                },
                "Configure transfer between two connected accounts, symbol, amount in fiat and preferred network": {
                  "value": {"isInclusiveFeeEnabled":false,"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","symbol":"USDT","amountInFiat":130,"fiatCurrency":"USD","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12"}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConfigureTransferRequest"
                  }
                ]
              },
              "examples": {
                "Configure with provided list of addresses": {
                  "value": {"isInclusiveFeeEnabled":false,"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAddresses":[{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","address":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6"},{"networkId":"0291810a-5947-424d-9a59-e88bb33e999d","symbol":"USDT","address":"HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH"},{"networkId":"0880db06-7c7c-4738-898f-cf74efc03c47","symbol":"BTC","address":"3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5"}]}
                },
                "Configure transfer between two connected accounts": {
                  "value": {"isInclusiveFeeEnabled":false,"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase"}
                },
                "Configure with provided list of addresses, symbol and amount": {
                  "value": {"isInclusiveFeeEnabled":false,"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAddresses":[{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","address":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6"},{"networkId":"0291810a-5947-424d-9a59-e88bb33e999d","symbol":"USDT","address":"HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH"},{"networkId":"0880db06-7c7c-4738-898f-cf74efc03c47","symbol":"BTC","address":"3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5"}],"symbol":"USDT","amount":130,"fiatCurrency":"USD"}
                },
                "Configure transfer between two connected accounts, symbol, amount in fiat and preferred network": {
                  "value": {"isInclusiveFeeEnabled":false,"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","symbol":"USDT","amountInFiat":130,"fiatCurrency":"USD","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigureTransferResponseApiResult"
                },
                "examples": {
                  "Successful transfer configuration": {
                    "value": {"content":{"status":"succeeded","holdings":[{"symbol":"USDC","availableBalance":130,"availableBalanceInFiat":0,"eligibleForTransfer":true,"networks":[{"name":"Ethereum","id":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","minimumAmount":1,"totalEstimatedTransferFeeInFiat":1.8,"estimatedNetworkGasFee":{"fee":0.000850608941007,"feeCurrency":"ETH","feeInFiat":1.8},"institutionTransferFee":{"fee":0,"feeCurrency":"ETH","feeInFiat":0},"eligibleForTransfer":true,"eligibleForTransferWithFunding":false},{"name":"Solana","id":"0291810a-5947-424d-9a59-e88bb33e999d","minimumAmount":1,"totalEstimatedTransferFeeInFiat":0.1,"estimatedNetworkGasFee":{"fee":0.00025,"feeCurrency":"SOL","feeInFiat":0.1},"institutionTransferFee":{"fee":0,"feeCurrency":"SOL","feeInFiat":0},"eligibleForTransfer":true,"eligibleForTransferWithFunding":false}],"eligibleForTransferWithFunding":false}]},"status":"ok","message":"","errorType":""}
                  },
                  "Transfer configuration with failed validation": {
                    "value": {"status":"badRequest","message":"Either `ToAddresses` or `ToAuthToken` should be provided.","errorType":"invalidField"}
                  },
                  "Transfer configuration with no eligible tokens to transfer": {
                    "value": {"content":{"status":"succeeded","holdings":[{"symbol":"USDC","availableBalance":1,"availableBalanceInFiat":0,"eligibleForTransfer":false,"eligibleForTransferWithFunding":false},{"symbol":"ETH","availableBalance":0.00001,"availableBalanceInFiat":0,"eligibleForTransfer":false,"eligibleForTransferWithFunding":false}]},"status":"ok","message":"","errorType":""}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "403": {
            "description": "The API key used does not have write permission to call this Mesh endpoint.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/preview": {
      "post": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Preview transfer",
        "description": "**Validate and preview the transfer.**\r\n\n\r\n---\r\nValidates the transfer, calculates the relevant amount in crypto if requested amount was in fiat and updates\r\nthe current network fee values.\r\n\n\r\nThis endpoint uses the `NetworkId` field to specify which network will be used to perform the transfer. The target `NetworkId`\r\nshould be selected after configuring the transfer using `/configure` endpoint.\r\n\n\n\r\nReturns the `PreviewId` value that can be used to commit the transfer.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PreviewTransferRequest"
                  }
                ]
              },
              "examples": {
                "Preview with provided address": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amount":10}
                },
                "Preview transfer between two connected accounts": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amount":10}
                },
                "Preview transfer between two connected accounts, using fiat amount": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amountInFiat":10}
                }
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PreviewTransferRequest"
                  }
                ]
              },
              "examples": {
                "Preview with provided address": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amount":10}
                },
                "Preview transfer between two connected accounts": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amount":10}
                },
                "Preview transfer between two connected accounts, using fiat amount": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amountInFiat":10}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PreviewTransferRequest"
                  }
                ]
              },
              "examples": {
                "Preview with provided address": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amount":10}
                },
                "Preview transfer between two connected accounts": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amount":10}
                },
                "Preview transfer between two connected accounts, using fiat amount": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amountInFiat":10}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewTransferResponseApiResult"
                },
                "examples": {
                  "Successful transfer preview": {
                    "value": {"content":{"status":"succeeded","previewResult":{"previewId":"29b185b1-2305-40fb-a0e2-929d61451568","previewExpiresIn":300,"fromAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","toAddress":"0x326a8825472bb0f4719998e708a1eeeb4473ed1b","symbol":"USDT","amount":10,"amountInFiat":10,"totalEstimatedAmount":11.21,"totalEstimatedAmountInFiat":11.21,"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","institutionTransferFee":{"fee":0,"feeCurrency":"USDT","feeInFiat":0},"estimatedNetworkGasFee":{"fee":1.1,"feeCurrency":"USDT","feeInFiat":1.1},"unitPrice":0,"customClientFee":{"fee":0.011,"feeCurrency":"USDT","feeInFiat":0.011},"transferType":"deposit","isCustomClientFeeProvided":false,"amountWithCustomClientFee":"0","isFeeIncluded":false,"amountToReceive":0,"amountToReceiveInFiat":0,"transferAmountToRequest":0,"isMaximumAmount":false}},"status":"ok","message":"","errorType":""}
                  },
                  "Failed transfer preview": {
                    "value": {"status":"badRequest","message":"The\u00A0specified amount is greater than the maximum amount allowed.","displayMessage":"The\u00A0specified amount is greater than the maximum amount allowed.","errorType":"invalidField"}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "403": {
            "description": "The API key used does not have write permission to call this Mesh endpoint.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/execute": {
      "post": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Execute transfer",
        "description": "**Commit the previously previewed transfer.**\r\n\n\r\n---\r\nPreviews the transfer, using the `PreviewId` value.\r\n\n\r\nHandles multi-factor authentication codes if the account is configured to use them for additional security.\r\n\n\n\r\nReturns the status of the transfer and the details of the transfer if it was initiated successfully.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExecuteTransferRequest"
                  }
                ]
              },
              "examples": {
                "Execute transfer": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","previewId":"29b185b1-2305-40fb-a0e2-929d61451568","tryAnotherMfa":false}
                },
                "Execute transfer providing the MFA code": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","previewId":"29b185b1-2305-40fb-a0e2-929d61451568","mfaCode":"112457","tryAnotherMfa":false}
                }
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExecuteTransferRequest"
                  }
                ]
              },
              "examples": {
                "Execute transfer": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","previewId":"29b185b1-2305-40fb-a0e2-929d61451568","tryAnotherMfa":false}
                },
                "Execute transfer providing the MFA code": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","previewId":"29b185b1-2305-40fb-a0e2-929d61451568","mfaCode":"112457","tryAnotherMfa":false}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExecuteTransferRequest"
                  }
                ]
              },
              "examples": {
                "Execute transfer": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","previewId":"29b185b1-2305-40fb-a0e2-929d61451568","tryAnotherMfa":false}
                },
                "Execute transfer providing the MFA code": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","previewId":"29b185b1-2305-40fb-a0e2-929d61451568","mfaCode":"112457","tryAnotherMfa":false}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteTransferResponseApiResult"
                },
                "examples": {
                  "Successful transfer preview": {
                    "value": {"content":{"status":"succeeded","executeTransferResult":{"transferId":"e332336c-de22-11ed-b5ea-0242ac120002","status":"pending","statusDetails":"In progress","fromAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","toAddress":"0x326a8825472bb0f4719998e708a1eeeb4473ed1b","symbol":"USDT","networkName":"Ethereum","networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","hash":"0xdcfd72635a9b16d3bc0e75311f6fe0612970e9714a1e9e93de0ea5acffc6a454","amount":10,"amountInFiat":10,"totalAmountInFiat":11.1,"completedConfirmations":1,"institutionTransferFee":{"fee":0,"feeCurrency":"USDT","feeInFiat":0},"networkGasFee":{"fee":1.1,"feeCurrency":"USDT","feeInFiat":1.1}},"fallbackMfaAvailable":false},"status":"ok","message":"","errorType":""}
                  },
                  "Transfer preview when MFA is required": {
                    "value": {"content":{"status":"mfaRequired","fallbackMfaAvailable":false},"status":"ok","message":"","errorType":""}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "403": {
            "description": "The API key used does not have write permission to call this Mesh endpoint.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/address/get": {
      "post": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Get deposit address",
        "description": "Get or generate a cryptocurrency deposit address that can be used to transfer assets to the financial institution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ManagedBrokerCryptocurrencyDepositAddressRequest"
                  }
                ]
              },
              "example": {"symbol":"DOGE","networkId":"34b66a94-f9f9-49ef-81e8-6ebd5a866f9d","authToken":"Secret authentication token","type":"binanceInternational"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address successfully obtained or generation initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerCryptocurrencyDepositAddressResponseApiResult"
                },
                "example": {"content":{"symbol":"DOGE","address":"D641Fmzx...","chain":"DOGE"},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "400": {
            "description": "Request details are not correct.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "404": {
            "description": "Address for the required symbol is not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"notFound","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/quote": {
      "post": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Quote transfer",
        "description": "Get a quote for transferring a fiat amount from a brokerage account in a given cryptocurrency over a specified network.\r\nReturns min and max fees and amounts to account for different funding sources (existing crypto balance, cash balance or\r\nACH/debit deposit). Currently only supported for Coinbase.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/QuoteTransferRequest"
                  }
                ]
              },
              "examples": {
                "Quote transfer with no partner fee": {
                  "value": {"amountInFiat":10,"fiatCurrency":"USD","symbol":"ETH","networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","toAddress":"0xc096a91fDFB100ECED14e4810FA06061C0b3058B","brokerType":"coinbase"}
                },
                "Quote transfer with flat partner fee": {
                  "value": {"amountInFiat":10,"fiatCurrency":"USD","symbol":"ETH","networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","toAddress":"0xc096a91fDFB100ECED14e4810FA06061C0b3058B","brokerType":"coinbase","feeFlat":0.0004}
                },
                "Quote transfer with percentage partner fee": {
                  "value": {"amountInFiat":10,"fiatCurrency":"USD","symbol":"ETH","networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","toAddress":"0xc096a91fDFB100ECED14e4810FA06061C0b3058B","brokerType":"coinbase","feePercentage":1}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Quote obtained.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/QuoteTransferResponseApiResult"
                },
                "examples": {
                  "Successful transfer quote": {
                    "value": {"content":{"amountInFiat":100,"fiatCurrency":"USD","symbol":"ETH","networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","toAddress":"0xc096a91fDFB100ECED14e4810FA06061C0b3058B","brokerType":"coinbase","isEligible":true,"minEligibleAmount":0.0001,"minEligibleAmountFiat":0,"brokerPrice":2247.5,"price":2246.9,"minAmountFiat":97.08,"maxAmountFiat":97.88,"minAmount":0.0432080770227800702300947973,"maxAmount":0.0435641231307510524722951622,"fees":{"inFiat":{"paymentMethodFeeMaxFiat":0,"tradingFeeMaxFiat":0.80,"withdrawalFeeFiat":0,"partnerFeeFiat":1.00,"networkFeeFiat":1.12,"minFeesFiat":2.12,"maxFeesFiat":2.92},"inCrypto":{"paymentMethodFeeMax":0,"tradingFeeMax":0.0003560461079709822422003649,"withdrawalFee":0,"partnerFee":0.0004450576349637278027504562,"networkFee":0.000496582730658000,"minFees":0.0009416403656217278027504562,"maxFees":0.0012976864735927100449508211}},"fundingOptions":[{"fundingOption":"existingCryptocurrencyBalance","paymentMethodFeeFiat":0,"tradingFeeFiat":0},{"fundingOption":"buyingPowerPurchase","paymentMethodFeeFiat":0,"tradingFeeFiat":0.80},{"fundingOption":"paymentMethodDepositUsage","paymentMethodType":"bankAccount","paymentMethodFeeFiat":0,"tradingFeeFiat":0.80}]},"status":"ok","message":"","errorType":""}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Request details are not correct.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/mesh": {
      "get": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Get transfers initiated by Mesh",
        "description": "Get cryptocurrency transfers initiated by Mesh on exchanges or self-custody wallets.",
        "parameters": [
          {
            "name": "Count",
            "in": "query",
            "description": "Number of items to return. Default 10, maximum - 100.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "description": "Number of items to skip.",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Id",
            "in": "query",
            "description": "Mesh transfer identifier.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "ClientTransactionId",
            "in": "query",
            "description": "Client transaction identifier.",
            "schema": {
              "maxLength": 128,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "UserId",
            "in": "query",
            "description": "Client's user identifier.",
            "schema": {
              "maxLength": 50,
              "minLength": 0,
              "type": "string"
            }
          },
          {
            "name": "IntegrationIds",
            "in": "query",
            "description": "Transfered integration.",
            "schema": {
              "maxItems": 100,
              "type": "array",
              "items": {
                "type": "string",
                "format": "uuid"
              }
            }
          },
          {
            "name": "Statuses",
            "in": "query",
            "description": "Transfer statuses.",
            "schema": {
              "maxItems": 5,
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/TransferStatus"
              }
            }
          },
          {
            "name": "FromTimestamp",
            "in": "query",
            "description": "Transfer created minimum timestamp.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "ToTimestamp",
            "in": "query",
            "description": "Transfer created maximum timestamp.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "MinAmountInFiat",
            "in": "query",
            "description": "Minimum amount in fiat.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "MaxAmountInFiat",
            "in": "query",
            "description": "Maximum amount in fiat.",
            "schema": {
              "type": "number",
              "format": "double"
            }
          },
          {
            "name": "OrderBy",
            "in": "query",
            "description": "Order by column.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/TransferOrderByFields"
                }
              ]
            }
          },
          {
            "name": "DescendingOrder",
            "in": "query",
            "description": "Value indicating if ordering is descending.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transfers obtained.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TransferModelPaginationResponseApiResult"
                },
                "example": {"content":{"items":[{"id":"8e25acb5-a9e2-4d00-8772-a255f010a2a9","clientTransactionId":"123456","institutionTransactionId":"456789","userId":"123456798","status":"succeeded","amountInFiat":1000.3,"amountToReceiveInFiat":0,"amountInFiatCurrencyCode":"USD","amount":10.123,"amountToReceive":0,"symbol":"WETH","tokenAddress":"0x7ceB23fD6bC0adD59E62ac25578270cFf1b9f619","networkName":"Polygon","networkId":"00000000-0000-0000-0000-000000000000","networkLogoUrl":"https://frontuserfilecdn.azureedge.net/public/logos/networks/Polygon.svg","createdTimestamp":1653211113,"from":{"logoUrl":"https://logo.com/logo.jpg","id":"8e25acb5-a9e2-4d00-8772-a255f010a2a9","type":"robinhood","name":"Robinhood"},"hash":"0x77f3a280aa5cfe956a5759c24cf774325504070b32b4159...","infoUrl":"https://polygonscan.com/tx/0x5b0ac59e43b63f2985d78994b6270d747f1019777201ca18ebb36ad1e1a8693e","gasFee":{"fee":0.0001,"feeCurrency":"MATIC","feeInFiat":0.1},"withdrawalFee":{"fee":0.0001,"feeCurrency":"WETH","feeInFiat":0.1},"processingFee":{"fee":0.0001,"feeCurrency":"WETH","feeInFiat":0.1},"executedTimestamp":1707462614,"transferType":"payment","isFeeIncluded":false,"sourceAmount":10.122,"destinationAmount":10,"totalFeesAmountInFiat":0.5,"totalTransactionAmountInFiat":1000.5,"fundingMethods":[{"type":"cryptocurrencyConversion","amount":2,"amountInFiat":20,"toSymbol":"WETH","fromAmount":1,"fromSymbol":"BTC","fee":{"fee":0.0001,"feeCurrency":"ETH","feeInFiat":0.1}},{"type":"paymentMethodDepositUsage","amount":3,"amountInFiat":30,"toSymbol":"WETH","fromAmount":1,"fromSymbol":"USD","paymentMethodType":"bankAccount","fee":{"fee":0.0001,"feeCurrency":"USD","feeInFiat":0.1}},{"type":"existingCryptocurrencyBalance","amount":5,"amountInFiat":50,"toSymbol":"WETH","fromAmount":5,"fromSymbol":"ETH"}]},{"id":"12345678-a9e2-4d00-8772-a255f010a2a9","clientTransactionId":"123456","institutionTransactionId":"456789","userId":"123456798","status":"failed","amountInFiat":10.3,"amountToReceiveInFiat":0,"amountInFiatCurrencyCode":"USD","amount":0.123,"amountToReceive":0,"symbol":"WETH","tokenAddress":"0x7ceB23fD6bC0adD59E62ac25578270cFf1b9f619","networkName":"Polygon","networkId":"00000000-0000-0000-0000-000000000000","createdTimestamp":1653211113,"from":{"logoUrl":"https://logo.com/logo.jpg","id":"8e25acb5-a9e2-4d00-8772-a255f010a2a9","type":"deFiWallet","name":"MetaMask"},"hash":"0x77f3a280aa5cfe956a5759c24cf774325504070b32b4159...","isFeeIncluded":false,"totalFeesAmountInFiat":0,"totalTransactionAmountInFiat":10.3,"fundingMethods":[]}],"total":10},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/update": {
      "post": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Update transfer status",
        "description": "**Updates the previously executed transfer.**\r\n\n\r\n---\r\nUpdates the transfer status, using the `TransactionId` value.\r\nReturns the status of the transfer and the details of the transfer.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateTransferStatusRequest"
                  }
                ]
              },
              "examples": {
                "Update transfer status": {
                  "value": {"transactionId":"29B185B1-2305-40FB-A0E2-929D61451568","authToken":"Secret authentication token","type":"robinhood"}
                }
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateTransferStatusRequest"
                  }
                ]
              },
              "examples": {
                "Update transfer status": {
                  "value": {"transactionId":"29B185B1-2305-40FB-A0E2-929D61451568","authToken":"Secret authentication token","type":"robinhood"}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UpdateTransferStatusRequest"
                  }
                ]
              },
              "examples": {
                "Update transfer status": {
                  "value": {"transactionId":"29B185B1-2305-40FB-A0E2-929D61451568","authToken":"Secret authentication token","type":"robinhood"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTransferResponseApiResult"
                },
                "examples": {
                  "Successful transfer update": {
                    "value": {"content":{"status":"succeeded","statusDetails":"unknown","transferResult":{"id":"e332336c-de22-11ed-b5ea-0242ac120002","clientTransactionId":"client-transaction-id","status":"succeeded","amountInFiat":10,"amount":10,"symbol":"USDT","networkName":"Ethereum","createdTimestamp":0,"hash":"0xdcfd72635a9b16d3bc0e75311f6fe0612970e9714a1e9e93de0ea5acffc6a454"}},"status":"ok","message":"","errorType":""}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "403": {
            "description": "The API key used does not have write permission to call this Mesh endpoint.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/holdings/get": {
      "post": {
        "tags": [
          "Portfolio"
        ],
        "summary": "Get holdings.",
        "description": "Obtain assets from the connected investment account. Performs realtime API call to the underlying integration.",
        "requestBody": {
          "description": "Request containing authentication token",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PortfolioHoldingsRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Holdings obtained",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoldingsModelApiResult"
                },
                "example": {"content":{"equityPositions":[{"symbol":"AAPL","amount":3,"costBasis":109},{"symbol":"F","amount":27,"costBasis":7.05791}],"cryptocurrencyPositions":[{"marketValue":75.15,"lastPrice":0.05,"symbol":"DOGE","amount":1503,"costBasis":0.033},{"symbol":"BTC","amount":3.00016720,"costBasis":18000}],"status":"succeeded","notSupportedEquityPositions":[{"symbol":"CUSIP38259P508","amount":1}],"notSupportedCryptocurrencyPositions":[],"nftPositions":[],"optionPositions":[],"type":"robinhood","accountId":"5FUVPB0","institutionName":"Robinhood","accountName":"Margin account"},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "403": {
            "description": "The API key used does not have read permission to call this Mesh endpoint.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/holdings/value": {
      "post": {
        "tags": [
          "Portfolio"
        ],
        "summary": "Get holdings values.",
        "description": "Obtain assets from the connected investment account and return total value and performance.\r\nPerforms realtime API call to the underlying integration.",
        "requestBody": {
          "description": "Request with authentication token.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PortfolioBrokerBaseRequest"
                  }
                ]
              },
              "example": {"authToken":"Secret authentication token","type":"binanceInternationalDirect"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Market values of assets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerPortfolioValueModelApiResult"
                },
                "example": {"content":{"totalValue":186.03,"totalPerformance":6.23,"equitiesValue":100.12,"equitiesPerformance":5.3457,"cryptocurrenciesValue":50.37,"cryptocurrenciesPerformance":7.23,"nftsValue":15.34,"fiatValue":20.2},"status":"ok","message":"","errorType":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message","errorType":"missingField"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "403": {
            "description": "The API key used does not have read permission to call this Mesh endpoint.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/holdings/portfolio": {
      "get": {
        "tags": [
          "Portfolio"
        ],
        "summary": "Get aggregated portfolio",
        "description": "Get the aggregated portfolio of the user containing market values.",
        "parameters": [
          {
            "name": "UserId",
            "in": "query",
            "description": "End user ID to get the aggregated portfolio for.",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TimezoneOffset",
            "in": "query",
            "description": "Offset in second, used to calculate daily return for cryptocurrencies.",
            "schema": {
              "type": "integer",
[...]
