{
  "openapi": "3.0.1",
  "info": {
    "title": "Front Financial Integration Catalog API",
    "description": "Front Integration Catalog allows users of client applications to connect accounts of financial institutions. Front Integration Catalog handles credential validation, multi-factor authentication, and error handling for each institution. After the account is connected, Front Integration Catalog allows client applications to get account information, such as holdings, transactions, balances.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://integration-api.getfront.com"
    }
  ],
  "paths": {
    "/api/v1/assets/{assetType}": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get available assets",
        "parameters": [
          {
            "name": "assetType",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "equity",
                "cryptocurrency"
              ],
              "allOf": [
                {
                  "$ref": "#/components/schemas/AssetType"
                }
              ]
            }
          },
          {
            "name": "Search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Count",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Offset",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetPaginationResponseIApiResult"
                },
                "example": {"content":{"items":[{"symbol":"AAPL","name":"Apple Inc","type":"equity"},{"symbol":"MSFT","name":"Microsoft Inc","type":"equity"}],"total":5},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/assets/equity/{symbol}/price": {
      "get": {
        "tags": [
          "Assets"
        ],
        "summary": "Get symbol price",
        "parameters": [
          {
            "name": "symbol",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BPriceInfoIApiResult"
                },
                "example": {"content":{"items":[{"symbol":"AAPL","name":"Apple Inc","type":"equity"},{"symbol":"MSFT","name":"Microsoft Inc","type":"equity"}],"total":5},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/balance/get": {
      "post": {
        "tags": [
          "Balance"
        ],
        "summary": "Get account balance",
        "description": "Get real-time account fiat balances.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerBaseRequest"
                  }
                ]
              },
              "example": {"authToken":"Secret authentication token","type":"robinhood"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerAccountBalanceModelIApiResult"
                },
                "example": {"content":{"balances":[{"cash":158.5,"buyingPower":258.5,"currencyCode":"USD"},{"cash":10,"buyingPower":10,"currencyCode":"EUR"}],"totalCashUsdValue":10,"totalBuyingPowerUsdValue":10},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/balance/portfolio": {
      "get": {
        "tags": [
          "Balance"
        ],
        "summary": "Get aggregated portfolio fiat balances",
        "description": "Get cached aggregated fiat balances from all connected integrations.",
        "parameters": [
          {
            "name": "UserId",
            "in": "query",
            "description": "End user ID to get the aggregated portfolio for.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BFiatPortfolioModelIApiResult"
                },
                "example": {"content":{"fiatBalances":[{"symbol":"USD","cash":3.099,"buyingPower":3.099},{"symbol":"EUR","cash":-102.880,"buyingPower":1293.596}]},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/cataloglink": {
      "get": {
        "tags": [
          "Managed Account Authentication"
        ],
        "summary": "Get catalog link",
        "description": "Get personalized catalog link for client",
        "parameters": [
          {
            "name": "UserId",
            "in": "query",
            "description": "A unique Id representing the end user. Typically this will be a user Id from the\r\nclient application. Personally identifiable information, such as an email address or phone number,\r\nshould not be used. 50 characters length maximum.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "BrokerType",
            "in": "query",
            "description": "Type of broker to redirect to. Will redirect to catalog if not provided.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BrokerType"
                }
              ]
            }
          },
          {
            "name": "CallbackUrl",
            "in": "query",
            "description": "Callback link - url to redirect user after authentication in brokerage account.\r\nIf not provided default client's url will be used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EnableTransfers",
            "in": "query",
            "description": "Link Configuration identifier - an optional paramater for used configuration.\r\nIf not provided default configuration with all avaialbe integrations will be used.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ConfigurationId",
            "in": "query",
            "description": "Link Configuration identifier - an optional paramater for used configuration.\r\nIf not provided default configuration with all avaialbe integrations will be used.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "RestrictMultipleAccounts",
            "in": "query",
            "description": "The final screen of Link allows users to “continue” back to your app or “Link another account.”\r\nIf this param is present then this button will be hidden.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Catalog link created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogLinkIApiResult"
                },
                "example": {"content":{"url":"https://web.getfront.com/broker-connect?auth_code={authCode}","iFrameUrl":"https://web.getfront.com/b2b-iframe/{clientId}/broker-connect?auth_code={authCode}"},"status":"ok","message":""}
              }
            }
          },
          "404": {
            "description": "API Client not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"notFound","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "400": {
            "description": "BadRequest can happen in following cases:\r\n<list type=\"number\"><item><description>userId parameter not specified</description></item><item><description>Callback url parameter is invalid</description></item><item><description>Client does not have callback url specified</description></item></list>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Managed Account Authentication"
        ],
        "summary": "Get catalog link with parameters",
        "description": "Get personalized catalog link for client supplying parameters for Link actions, such as transfers",
        "parameters": [
          {
            "name": "UserId",
            "in": "query",
            "description": "A unique Id representing the end user. Typically this will be a user Id from the\r\nclient application. Personally identifiable information, such as an email address or phone number,\r\nshould not be used. 50 characters length maximum.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "BrokerType",
            "in": "query",
            "description": "Type of broker to redirect to. Will redirect to catalog if not provided.",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/BrokerType"
                }
              ]
            }
          },
          {
            "name": "CallbackUrl",
            "in": "query",
            "description": "Callback link - url to redirect user after authentication in brokerage account.\r\nIf not provided default client's url will be used.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "EnableTransfers",
            "in": "query",
            "description": "Link Configuration identifier - an optional paramater for used configuration.\r\nIf not provided default configuration with all avaialbe integrations will be used.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "ConfigurationId",
            "in": "query",
            "description": "Link Configuration identifier - an optional paramater for used configuration.\r\nIf not provided default configuration with all avaialbe integrations will be used.",
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "RestrictMultipleAccounts",
            "in": "query",
            "description": "The final screen of Link allows users to “continue” back to your app or “Link another account.”\r\nIf this param is present then this button will be hidden.",
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "requestBody": {
          "description": "Data to execute transfer.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InitializeTransfersForLinkRequest"
                  }
                ]
              },
              "example": {"toAddresses":[{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"ETH","address":"0x00000000000000000000000"},{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"USDC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"MATIC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDC","address":"0x00000000000000000000000"}]}
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InitializeTransfersForLinkRequest"
                  }
                ]
              },
              "example": {"toAddresses":[{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"ETH","address":"0x00000000000000000000000"},{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"USDC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"MATIC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDC","address":"0x00000000000000000000000"}]}
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/InitializeTransfersForLinkRequest"
                  }
                ]
              },
              "example": {"toAddresses":[{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"ETH","address":"0x00000000000000000000000"},{"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","symbol":"USDC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"MATIC","address":"0x00000000000000000000000"},{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDC","address":"0x00000000000000000000000"}]}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Catalog link created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CatalogLinkIApiResult"
                },
                "example": {"content":{"url":"https://web.getfront.com/broker-connect?auth_code={authCode}","iFrameUrl":"https://web.getfront.com/b2b-iframe/{clientId}/broker-connect?auth_code={authCode}"},"status":"ok","message":""}
              }
            }
          },
          "404": {
            "description": "API Client not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"notFound","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "400": {
            "description": "BadRequest can happen in following cases:\r\n<list type=\"number\"><item><description>userId parameter not specified</description></item><item><description>Callback url parameter is invalid</description></item><item><description>Client does not have callback url specified</description></item></list>",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/token/refresh": {
      "post": {
        "tags": [
          "Managed Account Authentication"
        ],
        "summary": "Refresh auth token",
        "description": "Refresh auth token of the connected institution.\r\nSome institutions do not require tokens to be refreshed.\r\n            \r\nThe following institutions require custom flows:\r\n            \r\nWeBull: AuthToken should be provided along with the RefreshToken\r\n            \r\nTdAmeritrade: refresh token should also be refreshed.\r\nCreateNewRefreshToken parameter should be set to true in order\r\nto refresh the refresh token for TdAmeritrade.\r\n            \r\nVanguard: security settings may activate MFA, requiring user action.\r\nIf MFA is triggered, a second refresh request should be sent.\r\nSecond request should contain MFA code and access token obtained from initial response.\r\n            \r\nBitfinex Direct: Expired Access Token is used as Refresh token. Use this endpoint to\r\ntrade it for a new one",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerRefreshTokenRequest"
                  }
                ]
              },
              "example": {"refreshToken":"Secret refresh token","type":"coinbase"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerRefreshTokenResponseIApiResult"
                },
                "example": {"content":{"status":"succeeded","accessToken":"New secret token","refreshToken":"New secret refresh token","expiresInSeconds":86400},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Unauthorized token","displayMessage":"Could not refresh the authentication token. The provided data is not correct"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/account": {
      "delete": {
        "tags": [
          "Managed Account Authentication"
        ],
        "summary": "Remove connection",
        "description": "Remove connection to the financial institution and erase all related data completely.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerBaseRequest"
                  }
                ]
              },
              "example": {"authToken":"Secret authentication token","type":"robinhood"}
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerBaseRequest"
                  }
                ]
              },
              "example": {"authToken":"Secret authentication token","type":"robinhood"}
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerBaseRequest"
                  }
                ]
              },
              "example": {"authToken":"Secret authentication token","type":"robinhood"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IApiResult"
                },
                "example": {"status":"ok"}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/status": {
      "get": {
        "tags": [
          "Managed Account Authentication"
        ],
        "summary": "Get health status",
        "description": "Get the list of supported institutions and their health statuses.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokersHealthStatusListIApiResult"
                },
                "example": {"content":[{"type":"robinhood","isUp":true,"supportedProducts":["balance","holdings","identity","orders","transfers"]},{"type":"celsius","isUp":false,"description":"Temporarily disabled","downTimeStart":1655891444,"supportedProducts":["balance","orders","transfers","holdings"]}],"status":"ok","message":""}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/authenticationSchemes": {
      "get": {
        "tags": [
          "Self Managed Account Authentication"
        ],
        "summary": "Get authentication schemes",
        "description": "Get authentication schemes of available integrations to perform authentication programmatically (not using\r\nthe Web Catalog UI).",
        "responses": {
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerAuthenticationSchemeIReadOnlyCollectionIApiResult"
                },
                "example": {"content":[{"brokerType":"coinbasePro","authenticationSchemeType":"apiKey","initialAuthenticationModel":{"fields":[{"name":"Username","description":"API key"},{"name":"Password","description":"Secret key"},{"name":"AuthToken","description":"Passphrase"},{"name":"Type","description":"CoinbasePro"}]},"mfaSchemes":[],"instructionsUrl":"https://help.coinbase.com/en/pro/other-topics/api/how-do-i-create-an-api-key-for-coinbase-pro"}],"status":"ok","message":""}
              }
            }
          }
        }
      }
    },
    "/api/v1/cryptocurrencyWallets": {
      "get": {
        "tags": [
          "Self Managed Account Authentication"
        ],
        "summary": "Get supported wallets",
        "description": "Get supported cryptocurrency wallets and cryptocurrency addresses to perform authentication programmatically (not using\r\nthe Web Catalog UI).",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerCryptocurrencyWalletListResponseIApiResult"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        },
        "deprecated": true
      }
    },
    "/api/v1/authenticate": {
      "post": {
        "tags": [
          "Self Managed Account Authentication"
        ],
        "summary": "Authenticate user's account",
        "description": "Authenticate user's brokerage/exchange account programmatically (not using the Web Catalog UI)",
        "parameters": [
          {
            "name": "userId",
            "in": "query",
            "description": "Id of the end-user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "Authentication request.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/B2BBrokerAuthRequest"
                  }
                ]
              },
              "example": {"username":"username","password":"password","mfaCode":"000000","mfaType":"phone","type":"robinhood"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerAuthResponseIApiResult"
                },
                "example": {"content":{"status":"succeeded","accessToken":"Access token, allowing access to the integration","refreshToken":"Optional refresh token, allowing to refresh the access token","expiresInSeconds":7200,"account":{"frontAccountId":"00000000-0000-0000-0000-000000000000","accountId":"Id of the account","accountName":"Name of the account"}},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Server Error"
          },
          "503": {
            "description": "Server Error"
          }
        }
      }
    },
    "/api/v1/authenticate/{brokerType}": {
      "get": {
        "tags": [
          "Self Managed Account Authentication"
        ],
        "summary": "Get OAuth authentication link",
        "description": "Get OAuth link for the integrations with `OAuth` AuthenticationSchemeType",
        "parameters": [
          {
            "name": "brokerType",
            "in": "path",
            "description": "Type of the integration to connect",
            "required": true,
            "schema": {
              "enum": [
                "robinhood",
                "eTrade",
                "alpaca",
                "tdAmeritrade",
                "weBull",
                "stash",
                "interactiveBrokers",
                "public",
                "coinbase",
                "kraken",
                "coinbasePro",
                "cryptoCom",
                "openSea",
                "binanceUs",
                "gemini",
                "cryptocurrencyAddress",
                "cryptocurrencyWallet",
                "okCoin",
                "bittrex",
                "kuCoin",
                "etoro",
                "cexIo",
                "binanceInternational",
                "bitstamp",
                "gateIo",
                "celsius",
                "acorns",
                "okx",
                "bitFlyer",
                "coinlist",
                "huobi",
                "bitfinex",
                "deFiWallet",
                "krakenDirect",
                "vanguard",
                "binanceInternationalDirect",
                "bitfinexDirect",
                "bybit"
              ],
              "allOf": [
                {
                  "$ref": "#/components/schemas/BrokerType"
                }
              ]
            }
          },
          {
            "name": "userId",
            "in": "query",
            "description": "Id of the end-user",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerAuthPromptResponseIApiResult"
                },
                "example": {"content":{"status":"redirect","redirectLink":"https://front.org/","linkToken":"Link to the integration's site"},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/networks": {
      "get": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Get networks",
        "description": "**Get the list of all networks supported by the Front API to perform transfers.**\r\n<br />\r\n---\r\nReturns the list of all networks supported by the Front API and corresponding supported tokens.\r\nThe IDs of networks should be used to configure and initiate transfers.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NetworkModelResponseIApiResult"
                },
                "example": {"content":{"networks":[{"supportedBrokerTypes":["deFiWallet","robinhood","coinbase","kraken","binanceInternational","binanceUs"],"id":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","name":"Ethereum","chainId":"1","supportedTokens":["ETH","USDC","USDT"]}]},"status":"ok","message":""}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/integrations": {
      "get": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Get integrations",
        "description": "**Get the list of all integrations supported by the Front API to perform managed transfers.**\r\n<br />\r\n---\r\nReturns the list of all integrations currently supported by the Front API and corresponding supported tokens and networks.\r\nThe IDs of networks should be used to configure and initiate transfers.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IntegrationNetworkResponseIApiResult"
                },
                "example": {"content":{"integrations":[{"type":"robinhood","networks":[{"id":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","name":"Ethereum","chainId":"1","supportedTokens":["USDC","ETH"]},{"id":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","name":"Polygon","chainId":"137","supportedTokens":["MATIC","ETH"]}],"supportsOutgoingTransfers":true,"supportsIncomingTransfers":true}]},"status":"ok","message":""}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/configure": {
      "post": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Configure transfer",
        "description": "**Get the list of networks and tokens eligible for a transfer, based on the provided request data.**\r\n<br />\r\n---\r\nTransfers can be configured either from one connected account to another connected account, or\r\nfrom a connected account to any arbitrary address or addresses.\r\n<br />\r\n* **From one connected account to another connected account:**\r\n<br />\r\nThe API client provides `FromAuthToken` that is representing the source account and `ToAuthToken` that is representing the target account. Front API maps networks and tokens supported by both accounts and returns all tokens and networks eligible for a transfer as the result.\r\n<br />\r\n* **From a connected account to any arbitrary address:**\r\n<br />\r\nThe API client provides `FromAuthToken` that is representing the source account and the list of target addresses using the `ToAddresses` field. Front API verifies the addresses and returns the list of tokens, eligible to be transferred as the result of the operation.\r\n<br /><br />\r\nReturns the list of holdings on the account that can be used to perform the transfer. Each holdings item\r\ncontains the list of supported networks that can be used to transfer the corresponding asset.\r\nEach network contains details such as gas fees and the amount eligible to be transferred.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConfigureTransferRequest"
                  }
                ]
              },
              "examples": {
                "Configure with provided list of addresses": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAddresses":[{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","address":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6"},{"networkId":"0291810a-5947-424d-9a59-e88bb33e999d","symbol":"USDT","address":"HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH"},{"networkId":"0880db06-7c7c-4738-898f-cf74efc03c47","symbol":"BTC","address":"3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5"}]}
                },
                "Configure transfer between two connected accounts": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase"}
                },
                "Configure with provided list of addresses, symbol and amount": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAddresses":[{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","address":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6"},{"networkId":"0291810a-5947-424d-9a59-e88bb33e999d","symbol":"USDT","address":"HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH"},{"networkId":"0880db06-7c7c-4738-898f-cf74efc03c47","symbol":"BTC","address":"3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5"}],"symbol":"USDT","amount":130,"fiatCurrency":"USD"}
                },
                "Configure transfer between two connected accounts, symbol, amount in fiat and preferred network": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","symbol":"USDT","amountInFiat":130,"fiatCurrency":"USD","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12"}
                }
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConfigureTransferRequest"
                  }
                ]
              },
              "examples": {
                "Configure with provided list of addresses": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAddresses":[{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","address":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6"},{"networkId":"0291810a-5947-424d-9a59-e88bb33e999d","symbol":"USDT","address":"HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH"},{"networkId":"0880db06-7c7c-4738-898f-cf74efc03c47","symbol":"BTC","address":"3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5"}]}
                },
                "Configure transfer between two connected accounts": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase"}
                },
                "Configure with provided list of addresses, symbol and amount": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAddresses":[{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","address":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6"},{"networkId":"0291810a-5947-424d-9a59-e88bb33e999d","symbol":"USDT","address":"HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH"},{"networkId":"0880db06-7c7c-4738-898f-cf74efc03c47","symbol":"BTC","address":"3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5"}],"symbol":"USDT","amount":130,"fiatCurrency":"USD"}
                },
                "Configure transfer between two connected accounts, symbol, amount in fiat and preferred network": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","symbol":"USDT","amountInFiat":130,"fiatCurrency":"USD","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12"}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ConfigureTransferRequest"
                  }
                ]
              },
              "examples": {
                "Configure with provided list of addresses": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAddresses":[{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","address":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6"},{"networkId":"0291810a-5947-424d-9a59-e88bb33e999d","symbol":"USDT","address":"HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH"},{"networkId":"0880db06-7c7c-4738-898f-cf74efc03c47","symbol":"BTC","address":"3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5"}]}
                },
                "Configure transfer between two connected accounts": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase"}
                },
                "Configure with provided list of addresses, symbol and amount": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAddresses":[{"networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","address":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6"},{"networkId":"0291810a-5947-424d-9a59-e88bb33e999d","symbol":"USDT","address":"HN7cABqLq46Es1jh92dQQisAq662SmxELLLsHHe4YWrH"},{"networkId":"0880db06-7c7c-4738-898f-cf74efc03c47","symbol":"BTC","address":"3FZbgi29cpjq2GjdwV8eyHuJJnkLtktZc5"}],"symbol":"USDT","amount":130,"fiatCurrency":"USD"}
                },
                "Configure transfer between two connected accounts, symbol, amount in fiat and preferred network": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","symbol":"USDT","amountInFiat":130,"fiatCurrency":"USD","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfigureTransferResponseIApiResult"
                },
                "examples": {
                  "Successful transfer configuration": {
                    "value": {"content":{"status":"succeeded","holdings":[{"symbol":"USDC","availableBalance":130,"availableBalanceInFiat":0,"eligibleForTransfer":true,"networks":[{"name":"Ethereum","id":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","minimumAmount":1,"totalEstimatedTransferFeeInFiat":1.8,"estimatedNetworkGasFee":{"fee":0.000850608941007,"feeCurrency":"ETH","feeInFiat":1.8},"institutionTransferFee":{"fee":0,"feeCurrency":"ETH","feeInFiat":0},"eligibleForTransfer":true},{"name":"Solana","id":"0291810a-5947-424d-9a59-e88bb33e999d","minimumAmount":1,"totalEstimatedTransferFeeInFiat":0.1,"estimatedNetworkGasFee":{"fee":0.00025,"feeCurrency":"SOL","feeInFiat":0.1},"institutionTransferFee":{"fee":0,"feeCurrency":"SOL","feeInFiat":0},"eligibleForTransfer":true}]}]},"status":"ok","message":""}
                  },
                  "Transfer configuration with failed validation": {
                    "value": {"content":{"status":"validationFailed","errorMessage":"Either `ToAddresses` or `ToAuthToken` should be provided."},"status":"ok","message":""}
                  },
                  "Transfer configuration with no eligible tokens to transfer": {
                    "value": {"content":{"status":"succeeded","holdings":[{"symbol":"USDC","availableBalance":1,"availableBalanceInFiat":0,"eligibleForTransfer":false},{"symbol":"ETH","availableBalance":0.00001,"availableBalanceInFiat":0,"eligibleForTransfer":false}]},"status":"ok","message":""}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/preview": {
      "post": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Preview transfer",
        "description": "**Validate and preview the transfer.**\r\n<br />\r\n---\r\nValidates the transfer, calculates the relevant amount in crypto if requested amount was in fiat and updates\r\nthe current network fee values.\r\n<br />\r\nThis endpoint uses the `NetworkId` field to specify which network will be used to perform the transfer. The target `NetworkId`\r\nshould be selected after configuring the transfer using `/configure` endpoint.\r\n<br /><br />\r\nReturns the `PreviewId` value that can be used to commit the transfer.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PreviewTransferRequest"
                  }
                ]
              },
              "examples": {
                "Preview with provided address": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amount":10}
                },
                "Preview transfer between two connected accounts": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amount":10}
                },
                "Preview transfer between two connected accounts, using fiat amount": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amountInFiat":10}
                }
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PreviewTransferRequest"
                  }
                ]
              },
              "examples": {
                "Preview with provided address": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amount":10}
                },
                "Preview transfer between two connected accounts": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amount":10}
                },
                "Preview transfer between two connected accounts, using fiat amount": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amountInFiat":10}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/PreviewTransferRequest"
                  }
                ]
              },
              "examples": {
                "Preview with provided address": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amount":10}
                },
                "Preview transfer between two connected accounts": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amount":10}
                },
                "Preview transfer between two connected accounts, using fiat amount": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","toAuthToken":"Secret authentication token","toType":"coinbase","networkId":"7436e9d0-ba42-4d2b-b4c0-8e4e606b2c12","symbol":"USDT","toAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","amountInFiat":10}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PreviewTransferResponseIApiResult"
                },
                "examples": {
                  "Successful transfer preview": {
                    "value": {"content":{"status":"succeeded","previewResult":{"previewId":"29b185b1-2305-40fb-a0e2-929d61451568","previewExpiresIn":300,"fromAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","toAddress":"0x326a8825472bb0f4719998e708a1eeeb4473ed1b","symbol":"USDT","amount":10,"amountInFiat":10,"totalEstimatedAmountInFiat":11.1,"networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","institutionTransferFee":{"fee":0,"feeCurrency":"USDT","feeInFiat":0},"estimatedNetworkGasFee":{"fee":1.1,"feeCurrency":"USDT","feeInFiat":1.1}}},"status":"ok","message":""}
                  },
                  "Failed transfer preview": {
                    "value": {"content":{"status":"failed","errorMessage":"The\u00A0specified amount is greater than the maximum amount allowed."},"status":"ok","message":""}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/managed/execute": {
      "post": {
        "tags": [
          "Managed Transfers"
        ],
        "summary": "Execute transfer",
        "description": "**Commit the previously previewed transfer.**\r\n<br />\r\n---\r\nPreviews the transfer, using the `PreviewId` value.\r\n<br />\r\nHandles multi-factor authentication codes if the account is configured to use them for additional security.\r\n<br /><br />\r\nReturns the status of the transfer and the details of the transfer if it was initiated successfully.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExecuteTransferRequest"
                  }
                ]
              },
              "examples": {
                "Execute transfer": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","previewId":"29b185b1-2305-40fb-a0e2-929d61451568"}
                },
                "Execute transfer providing the MFA code": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","previewId":"29b185b1-2305-40fb-a0e2-929d61451568","mfaCode":"112457"}
                }
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExecuteTransferRequest"
                  }
                ]
              },
              "examples": {
                "Execute transfer": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","previewId":"29b185b1-2305-40fb-a0e2-929d61451568"}
                },
                "Execute transfer providing the MFA code": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","previewId":"29b185b1-2305-40fb-a0e2-929d61451568","mfaCode":"112457"}
                }
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/ExecuteTransferRequest"
                  }
                ]
              },
              "examples": {
                "Execute transfer": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","previewId":"29b185b1-2305-40fb-a0e2-929d61451568"}
                },
                "Execute transfer providing the MFA code": {
                  "value": {"fromAuthToken":"Secret authentication token","fromType":"robinhood","previewId":"29b185b1-2305-40fb-a0e2-929d61451568","mfaCode":"112457"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecuteTransferResponseIApiResult"
                },
                "examples": {
                  "Successful transfer preview": {
                    "value": {"content":{"status":"succeeded","executeTransferResult":{"transferId":"e332336c-de22-11ed-b5ea-0242ac120002","status":"pending","statusDetails":"In progress","fromAddress":"0x9Bf6207f8A3f4278E0C989527015deFe10e5D7c6","toAddress":"0x326a8825472bb0f4719998e708a1eeeb4473ed1b","symbol":"USDT","networkName":"Ethereum","networkId":"e3c7fdd8-b1fc-4e51-85ae-bb276e075611","hash":"0xdcfd72635a9b16d3bc0e75311f6fe0612970e9714a1e9e93de0ea5acffc6a454","amount":10,"amountInFiat":10,"totalAmountInFiat":11.1,"completedConfirmations":1,"institutionTransferFee":{"fee":0,"feeCurrency":"USDT","feeInFiat":0},"networkGasFee":{"fee":1.1,"feeCurrency":"USDT","feeInFiat":1.1}}},"status":"ok","message":""}
                  },
                  "Transfer preview when MFA is required": {
                    "value": {"content":{"status":"mfaRequired"},"status":"ok","message":""}
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/holdings/get": {
      "post": {
        "tags": [
          "Portfolio"
        ],
        "summary": "Get holdings.",
        "description": "Obtain assets from the connected investment account. Performs realtime API call to the underlying integration.",
        "requestBody": {
          "description": "Request containing authentication token",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerBaseRequest"
                  }
                ]
              },
              "example": {"authToken":"Secret authentication token","type":"robinhood"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Holdings obtained",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerPortfolioModelIApiResult"
                },
                "example": {"content":{"status":"succeeded","equityPositions":[{"symbol":"AAPL","amount":3,"costBasis":109},{"symbol":"F","amount":27,"costBasis":7.05791}],"notSupportedEquityPositions":[{"symbol":"CUSIP38259P508","amount":1}],"notSupportedCryptocurrencyPositions":[],"cryptocurrencyPositions":[{"symbol":"DOGE","amount":1503,"costBasis":0.033},{"symbol":"BTC","amount":3.00016720,"costBasis":18000}],"nftPositions":[],"optionPositions":[],"type":"robinhood","accountId":"5FUVPB0","institutionName":"Robinhood","accountName":"Margin account"},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/holdings/value": {
      "post": {
        "tags": [
          "Portfolio"
        ],
        "summary": "Get holdings values.",
        "description": "Obtain assets from the connected investment account and return total value and performance.\r\nPerforms realtime API call to the underlying integration.",
        "requestBody": {
          "description": "Request with authentication token.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerBaseRequest"
                  }
                ]
              },
              "example": {"authToken":"Secret authentication token","type":"robinhood"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Market values of assets",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrokerPortfolioValueModelIApiResult"
                },
                "example": {"content":{"totalValue":186.03,"totalPerformance":6.23,"equitiesValue":100.12,"equitiesPerformance":5.3457,"cryptocurrenciesValue":50.37,"cryptocurrenciesPerformance":7.23,"nftsValue":15.34,"fiatValue":20.2},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/holdings/portfolio": {
      "get": {
        "tags": [
          "Portfolio"
        ],
        "summary": "Get aggregated portfolio",
        "description": "Get the aggregated portfolio of the user containing market values.",
        "parameters": [
          {
            "name": "UserId",
            "in": "query",
            "description": "End user ID to get the aggregated portfolio for.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "TimezoneOffset",
            "in": "query",
            "description": "Offset in second, used to calculate daily return for cryptocurrencies.",
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Portfolio obtained",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BPortfolioModelIApiResult"
                },
                "example": {"content":{"portfolioCostBasis":1793.71,"actualPortfolioPerformance":6.9,"equitiesValue":1918.03,"cryptocurrenciesValue":1164.44,"nftsValue":0,"equityPositions":[{"marketValue":13.69,"portfolioPercentage":0.44,"totalReturn":-1.30,"returnPercentage":-8.67,"lastPrice":214.44,"companyName":"Tesla","totalDailyReturn":0.45,"dailyReturnPercentage":3.45,"symbol":"TSLA","amount":0.063,"costBasis":234.80},{"marketValue":1201.67,"portfolioPercentage":38.98,"totalReturn":144.97,"returnPercentage":13.71,"lastPrice":147.27,"companyName":"Apple","totalDailyReturn":31.65,"dailyReturnPercentage":2.70,"symbol":"AAPL","amount":8.15,"costBasis":129.50}],"cryptocurrencyPositions":[{"marketValue":351.4570,"portfolioPercentage":11.4018,"totalReturn":-592.6533,"returnPercentage":-62.7737,"lastPrice":1350.07,"companyName":"Ethereum","totalDailyReturn":-3.6081,"dailyReturnPercentage":-1.0162,"symbol":"ETH","amount":0.260325000,"costBasis":3626.660},{"marketValue":240.5754,"portfolioPercentage":7.80,"totalReturn":-85.45,"returnPercentage":-26.20,"lastPrice":0.05977,"companyName":"Dogecoin","totalDailyReturn":-2.45,"dailyReturnPercentage":-1.0103,"symbol":"DOGE","amount":4025.02,"costBasis":0.081}],"nftPositions":[]},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"ok"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions/list": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transactions",
        "description": "Get transactions on the account - the paginated history of the executed orders along with the pending orders.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/B2BBrokerOrderListRequest"
                  }
                ]
              },
              "example": {"count":20,"statuses":["success"],"authToken":"Secret authentication token","type":"robinhood"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transactions obtained.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerOrderListResponseIApiResult"
                },
                "example": {"content":{"transactions":[{"id":"17EC1243-D91A-48B6-B0CE-ECFDB134F8A0","side":"buy","symbol":"AAPL","name":"APPLE INC","assetType":"option","paymentSymbol":"USD","paymentType":"fiat","amount":1,"price":120,"value":120,"createdTimestamp":1653215676,"updatedTimestamp":1653215697,"status":"success","orderType":"market","timeInForce":"goodForDay","brokerType":"robinhood","transactionType":"order","optionDetails":{"optionType":"call","direction":"buyToOpen","strikePrice":200,"expirationTimestamp":1673215697,"numberOfSharesInContract":100,"complexOrderStrategyType":"NONE"}},{"id":"F9E932AE-A780-42F3-B887-82D888D594E5","side":"sell","symbol":"AAPL","name":"APPLE INC","assetType":"equity","paymentSymbol":"USD","paymentType":"fiat","amount":2,"price":130,"value":260,"createdTimestamp":1651739676,"updatedTimestamp":1651739781,"status":"success","orderType":"market","timeInForce":"goodTillCanceled","brokerType":"robinhood","transactionType":"order"},{"id":"9B5827E4-7D08-4A71-B4C0-B1B4E5562592","side":"buy","symbol":"BTC","name":"Bitcoin","assetType":"cryptocurrency","paymentSymbol":"ETH","paymentType":"cryptocurrency","amount":0.3,"price":18604.8197,"value":5581.44591,"createdTimestamp":1651739676,"updatedTimestamp":1651739781,"status":"success","orderType":"limit","timeInForce":"goodTillCanceled","brokerType":"robinhood","transactionType":"order"}],"cursor":"N2VkZDI0MDMtNmRhYy01NThhLTk5NDUDYzI12M3GQ3ZmQ2","total":3,"earliestTimestamp":1651739676},"status":"ok","message":""}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or provided integration token is not correct.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions/details": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get transaction details",
        "description": "Get details of an executed order. Typically used to poll the status of the previously executed order.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/B2BBrokerOrderRequest"
                  }
                ]
              },
              "example": {"id":"17EC1243-D91A-48B6-B0CE-ECFDB134F8A0","isCryptocurrency":true,"authToken":"Secret authentication token","type":"robinhood"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transactions obtained.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerOrderIApiResult"
                },
                "example": {"id":"17EC1243-D91A-48B6-B0CE-ECFDB134F8A0","side":"buy","symbol":"AAPL","assetType":"equity","paymentType":"fiat","amount":1,"price":120,"value":120,"createdTimestamp":1653215676,"updatedTimestamp":1653215697,"status":"success","statusDetails":"","brokerType":"robinhood","transactionType":"order"}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or provided integration token is not correct.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "404": {
            "description": "Transaction is not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions/featureList": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get supported order features for institution",
        "description": "Get supported features for trading for a particular financial institution. Different institutions support different\r\nfeatures (e.g. different `OrderType` or different sets of `TimeInForce` values), so this endpoint is used to\r\ndescribe such features for provided financial institution.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerBaseRequest"
                  }
                ]
              },
              "example": {"authToken":"Secret authentication token","type":"robinhood"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Feature list obtained.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerTradingFeatureInfoIApiResult"
                },
                "example": {"content":{"brokerType":"robinhood","accountId":"5K9N3VO1","cryptocurrencyOrders":{"supported":true,"supportsFiatCurrencyPayment":true,"supportsCryptocurrencyPayment":false,"supportsMarginOrders":true,"supportedCryptocurrencySymbols":["BTC","ETH","SOL","DOGE"],"supportedFiatCurrencies":["USD"],"marketType":{"supported":true,"supportsFractionalShares":true,"supportsExtendedMarketHours":true,"supportsPlacingBuyOrdersInFiatAmount":false,"supportsPlacingSellOrdersInFiatAmount":false,"supportedTimeInForceList":["fillOrKill","goodForDay","goodTillCanceled","immediateOrCancel"],"supportsPlacingBuyOrdersInPaymentSymbolAmount":false,"supportsPlacingSellOrdersInPaymentSymbolAmount":false,"supportsPlacingBuyOrdersInBaseSymbolAmount":true,"supportsPlacingSellOrdersInBaseSymbolAmount":true},"limitType":{"supported":true,"supportsFractionalShares":true,"supportsExtendedMarketHours":true,"supportsPlacingBuyOrdersInFiatAmount":false,"supportsPlacingSellOrdersInFiatAmount":false,"supportedTimeInForceList":["goodForDay","goodTillCanceled","immediateOrCancel"],"supportsPlacingBuyOrdersInPaymentSymbolAmount":false,"supportsPlacingSellOrdersInPaymentSymbolAmount":false,"supportsPlacingBuyOrdersInBaseSymbolAmount":true,"supportsPlacingSellOrdersInBaseSymbolAmount":true},"stopLossType":{"supported":true,"supportsFractionalShares":true,"supportsExtendedMarketHours":true,"supportsPlacingBuyOrdersInFiatAmount":false,"supportsPlacingSellOrdersInFiatAmount":false,"supportedTimeInForceList":["fillOrKill","goodForDay","goodTillCanceled","immediateOrCancel"],"supportsPlacingBuyOrdersInPaymentSymbolAmount":false,"supportsPlacingSellOrdersInPaymentSymbolAmount":false,"supportsPlacingBuyOrdersInBaseSymbolAmount":true,"supportsPlacingSellOrdersInBaseSymbolAmount":true}},"stockOrders":{"supported":true,"supportsFiatCurrencyPayment":true,"supportsCryptocurrencyPayment":false,"supportsMarginOrders":true,"supportedFiatCurrencies":["USD"],"marketType":{"supported":true,"supportsFractionalShares":true,"supportsExtendedMarketHours":true,"supportsPlacingBuyOrdersInFiatAmount":false,"supportsPlacingSellOrdersInFiatAmount":false,"supportedTimeInForceList":["fillOrKill","goodForDay","goodTillCanceled","immediateOrCancel"],"supportsPlacingBuyOrdersInPaymentSymbolAmount":false,"supportsPlacingSellOrdersInPaymentSymbolAmount":false,"supportsPlacingBuyOrdersInBaseSymbolAmount":false,"supportsPlacingSellOrdersInBaseSymbolAmount":false},"limitType":{"supported":true,"supportsFractionalShares":true,"supportsExtendedMarketHours":true,"supportsPlacingBuyOrdersInFiatAmount":false,"supportsPlacingSellOrdersInFiatAmount":false,"supportedTimeInForceList":["goodForDay","goodTillCanceled","immediateOrCancel"],"supportsPlacingBuyOrdersInPaymentSymbolAmount":false,"supportsPlacingSellOrdersInPaymentSymbolAmount":false,"supportsPlacingBuyOrdersInBaseSymbolAmount":false,"supportsPlacingSellOrdersInBaseSymbolAmount":false},"stopLossType":{"supported":true,"supportsFractionalShares":true,"supportsExtendedMarketHours":true,"supportsPlacingBuyOrdersInFiatAmount":false,"supportsPlacingSellOrdersInFiatAmount":false,"supportedTimeInForceList":["fillOrKill","goodForDay","goodTillCanceled","immediateOrCancel"],"supportsPlacingBuyOrdersInPaymentSymbolAmount":false,"supportsPlacingSellOrdersInPaymentSymbolAmount":false,"supportsPlacingBuyOrdersInBaseSymbolAmount":false,"supportsPlacingSellOrdersInBaseSymbolAmount":false}},"status":"succeeded","supportsOrderPreview":true,"supportsPriceQuotes":false,"supportsOrderCancellation":true,"isIntegrationUp":true,"isTradingSupported":true,"fiatBalances":[{"cash":1355,"buyingPower":1355,"cryptocurrencyBuyingPower":1355,"currencyCode":"USD"}]},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or provided integration token is not correct.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions/preview/{side}": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Preview order execution",
        "description": "Validates the order information (such as necessary balance availability), and returns additional information,\r\nsuch as expected order fee.\r\nDoes not execute the order.",
        "parameters": [
          {
            "name": "side",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "unknown",
                "buy",
                "sell"
              ],
              "allOf": [
                {
                  "$ref": "#/components/schemas/BrokerOrderType"
                }
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/B2BBrokerCreateOrderRequest"
                  }
                ]
              },
              "examples": {
                "Cryptocurrency Limit example": {
                  "value": {"symbol":"ETH","paymentSymbol":"USD","amount":1,"price":1200,"isCryptocurrency":true,"paymentIsCryptocurrency":false,"amountIsFiat":false,"amountIsInPaymentSymbol":false,"extendedHours":false,"orderType":"limit","timeInForce":"goodForDay","authToken":"Secret authentication token","type":"robinhood"}
                },
                "Stock Market example": {
                  "value": {"symbol":"AAPL","paymentSymbol":"USD","amount":1,"price":0,"isCryptocurrency":false,"paymentIsCryptocurrency":false,"amountIsFiat":false,"amountIsInPaymentSymbol":false,"extendedHours":false,"orderType":"market","timeInForce":"goodTillCanceled","authToken":"Secret authentication token","type":"robinhood"}
                },
                "Stock Payment/Quote amount example ('buy TSLA for $10')": {
                  "value": {"symbol":"TSLA","paymentSymbol":"USD","amount":0,"price":0,"isCryptocurrency":false,"paymentIsCryptocurrency":false,"amountIsFiat":true,"amountInFiat":10,"amountIsInPaymentSymbol":true,"amountInPaymentSymbol":10,"extendedHours":false,"orderType":"market","timeInForce":"goodTillCanceled","authToken":"Secret authentication token","type":"robinhood"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order preview obtained.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerPreviewOrderResultIApiResult"
                },
                "example": {"content":{"brokerType":"robinhood","fee":1.99,"feeText":"","amount":1,"side":"buy","status":"success","paymentSymbol":"USD","paymentIsCryptocurrency":false,"estimatedUnitPrice":1200},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Request details are not correct.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or provided integration token is not correct.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions/{side}": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Execute order",
        "description": "Validates the order information and then calls institution's API to execute an order.\r\nIt's recommended to call this endpoint after calling the `preview` endpoint to make sure that the\r\norder execution request is correct.",
        "parameters": [
          {
            "name": "side",
            "in": "path",
            "required": true,
            "schema": {
              "enum": [
                "unknown",
                "buy",
                "sell"
              ],
              "allOf": [
                {
                  "$ref": "#/components/schemas/BrokerOrderType"
                }
              ]
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/B2BBrokerCreateOrderRequest"
                  }
                ]
              },
              "examples": {
                "Cryptocurrency Limit example": {
                  "value": {"symbol":"ETH","paymentSymbol":"USD","amount":1,"price":1200,"isCryptocurrency":true,"paymentIsCryptocurrency":false,"amountIsFiat":false,"amountIsInPaymentSymbol":false,"extendedHours":false,"orderType":"limit","timeInForce":"goodForDay","authToken":"Secret authentication token","type":"robinhood"}
                },
                "Stock Market example": {
                  "value": {"symbol":"AAPL","paymentSymbol":"USD","amount":1,"price":0,"isCryptocurrency":false,"paymentIsCryptocurrency":false,"amountIsFiat":false,"amountIsInPaymentSymbol":false,"extendedHours":false,"orderType":"market","timeInForce":"goodTillCanceled","authToken":"Secret authentication token","type":"robinhood"}
                },
                "Stock Payment/Quote amount example ('buy TSLA for $10')": {
                  "value": {"symbol":"TSLA","paymentSymbol":"USD","amount":0,"price":0,"isCryptocurrency":false,"paymentIsCryptocurrency":false,"amountIsFiat":true,"amountInFiat":10,"amountIsInPaymentSymbol":true,"amountInPaymentSymbol":10,"extendedHours":false,"orderType":"market","timeInForce":"goodTillCanceled","authToken":"Secret authentication token","type":"robinhood"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order executed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerCreateOrderResultIApiResult"
                },
                "example": {"content":{"orderId":"6713DCDC-3D2E-46BC-ACB6-CF5FDE431CE2","brokerType":"robinhood","side":"buy","amount":1,"price":1200,"value":1200,"fee":1.99,"timestamp":1661904014,"status":"success","statusDetails":"Executed successfully","timeInForce":"goodTillCanceled"},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Request details are not correct.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or provided integration token is not correct.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions/cancel": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Cancel order execution",
        "description": "Cancels a pending order (an order with `InProgress` status).\r\n`SymbolPair` is required to be provided for `Binance`, `BinanceInternational`, `Okx` and `BitFlyer` institutions.\r\nThis value",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/B2BBrokerOrderRequest"
                  }
                ]
              },
              "example": {"id":"17EC1243-D91A-48B6-B0CE-ECFDB134F8A0","isCryptocurrency":true,"authToken":"Secret authentication token","type":"robinhood"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Order canceled.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IApiResult"
                }
              }
            }
          },
          "400": {
            "description": "Request details are not correct.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or provided integration token is not correct.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/transactions/symbolinfo": {
      "post": {
        "tags": [
          "Transactions"
        ],
        "summary": "Get symbol information",
        "description": "Returns information on trading allowance for a provided symbol.\r\nFor example - some institutions allow fractional trading for some symbols, but do not allow it\r\nfor others. So before placing an order the API client can check if the required symbol can be traded fractionally\r\nwith the provided institution.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/B2BBrokerSymbolInfoForOrderRequest"
                  }
                ]
              },
              "example": {"side":"buy","symbol":"BTC","amount":0,"price":0,"isCryptocurrency":false,"paymentIsCryptocurrency":false,"amountIsFiat":false,"amountIsInPaymentSymbol":false,"extendedHours":false,"orderType":"market","timeInForce":"goodTillCanceled","type":"robinhood"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Information for symbol obtained.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerOrderSymbolInfoIApiResult"
                },
                "example": {"content":{"fractionalTradingAllowance":"fractionalTradingAllowed","minimumOrderValue":0.001,"precisionScale":6},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Request details are not correct.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/list": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "List transfers",
        "description": "Get cryptocurrency transfers, such as transfers on a cryptocurrency wallet, or\r\ndeposit/withdrawal transfers on an cryptocurrency exchange account.",
        "requestBody": {
          "description": "Authentication token and integration type to obtain the list of transfers.",
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerTransactionsListRequest"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfers obtained.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerTransactionsListModelIApiResult"
                },
                "example": {"content":{"transfers":[{"id":"8E25ACB5-A9E2-4D00-8772-A255F010A2A9","status":"succeeded","type":"deposit","fromAddress":"D5PumQwt...","targetAddress":"D641Fmzx...","symbol":"DOGE","hash":"3310c6202aaeb44754a118ce11f255382d012060ade0d6d9f...","amount":15,"transactionAmount":10,"createdTimestamp":1653215600,"updatedTimestamp":1653215600,"networkTransactionFee":{"amount":5,"symbol":"DOGE"},"confirmations":17,"blockchainMethod":"transfer"},{"id":"70E6E3CF-5ACF-49C5-A4E1-5FB85A567F26","status":"succeeded","type":"withdrawal","fromAddress":"0x7BDE8361Fe587daD0e35448E754...","targetAddress":"0x83C8F28c26bF6aaca652Df1DbBE...","symbol":"ETH","hash":"0x77f3a280aa5cfe956a5759c24cf774325504070b32b4159...","amount":0.1,"transactionAmount":0.099,"createdTimestamp":1653211113,"updatedTimestamp":1653211113,"networkTransactionFee":{"amount":0.001,"symbol":"ETH"},"confirmations":18,"blockchainMethod":"transfer"}],"total":2,"cursor":"N2VkZDI0MDMtNmRhYy01NThhLTk5NDUDYzI12M3GQ3ZmQ2","earliestTimestamp":1653211113},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/details": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Get transfer",
        "description": "Get details of a cryptocurrency transfer.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerCryptocurrencyTransactionDetailsRequest"
                  }
                ]
              },
              "example": {"transactionId":"63F1A6B6-BF45-4E51-A624-EC52B5680D48","authToken":"Secret authentication token","type":"robinhood"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer details obtained.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerCryptocurrencyTransactionIApiResult"
                },
                "example": {"content":{"id":"8E25ACB5-A9E2-4D00-8772-A255F010A2A9","status":"succeeded","type":"deposit","fromAddress":"D5PumQwt...","targetAddress":"D641Fmzx...","symbol":"DOGE","hash":"3310c6202aaeb44754a118ce11f255382d012060ade0d6d9f...","amount":15,"transactionAmount":10,"createdTimestamp":1653215600,"updatedTimestamp":1653215600,"networkTransactionFee":{"amount":5,"symbol":"DOGE"},"confirmations":17,"blockchainMethod":"transfer"},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Transfer details are not correct.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          },
          "404": {
            "description": "Transfer with provided id was not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"notFound","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Initiate a transfer",
        "description": "Initiate a new cryptocurrency transfer on a blockchain, cryptocurrency broker or cryptocurrency exchange.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerCreateCryptocurrencyTransactionRequest"
                  }
                ]
              },
              "examples": {
                "Transfer using AddressType (DOGE over DOGE chain)": {
                  "value": {"data":"Some memo","targetAddress":"D641Fmzx...","amount":100,"fee":5,"addressType":"dogeAddress","mfaCode":"000000","password":"$sb7u26","authToken":"Secret authentication token","type":"coinbase"}
                },
                "Transfer using symbol and chain (USDT as ERC-20 over Ethereum chain)": {
                  "value": {"data":"Some memo","targetAddress":"0x4Df61A3CcfB...","amount":100,"fee":0,"mfaCode":"000000","chain":"ETH","symbol":"USDT","authToken":"Secret authentication token","type":"coinbase"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer successfully initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerCreateCryptocurrencyTransactionResponseIApiResult"
                },
                "example": {"content":{"failed":false,"status":"pending","statusDetails":"Accepted","transaction":{"id":"8E25ACB5-A9E2-4D00-8772-A255F010A2A9","status":"pending","type":"withdrawal","fromAddress":"D5PumQwt...","targetAddress":"D641Fmzx...","symbol":"DOGE","hash":"3310c6202aaeb44754a118ce11f255382d012060ade0d6d9f...","amount":105,"transactionAmount":100,"createdTimestamp":1653215600,"updatedTimestamp":1653215600,"networkTransactionFee":{"amount":5,"symbol":"DOGE"},"confirmations":3,"blockchainMethod":"transfer"}},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Transfer details are not correct.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/address/get": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Get deposit address",
        "description": "Get or generate a cryptocurrency deposit address that can be used to transfer assets to the financial institution",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerCryptocurrencyDepositAddressRequest"
                  }
                ]
              },
              "example": {"symbol":"DOGE","chain":"DOGE","authToken":"Secret authentication token","type":"robinhood"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address successfully obtained or generation initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerCryptocurrencyDepositAddressResponseIApiResult"
                },
                "example": {"content":{"symbol":"DOGE","address":"D641Fmzx...","chain":"DOGE"},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Request details are not correct.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "404": {
            "description": "Address for the required symbol is not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"notFound","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    },
    "/api/v1/transfers/symbol/details": {
      "post": {
        "tags": [
          "Transfers"
        ],
        "summary": "Get details of asset",
        "description": "Get details of the asset for deposit or withdrawal. For example, several exchanges support same tokens over multiple\r\nblockchains, and thus require the name of chain to be supplied for transfers. This endpoint allows getting such details.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/BrokerCryptocurrencyDepositAddressRequest"
                  }
                ]
              },
              "example": {"symbol":"DOGE","chain":"DOGE","authToken":"Secret authentication token","type":"robinhood"}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Address successfully obtained or generation initiated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/B2BBrokerCryptocurrencySymbolDetailsResponseIApiResult"
                },
                "example": {"content":{"symbol":"ETH","addressTypes":["ethAddress"],"chains":[{"chain":"Ethereum","fee":0.00001}]},"status":"ok","message":""}
              }
            }
          },
          "400": {
            "description": "Request details are not correct.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"badRequest","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "404": {
            "description": "Asset details for provided symbol are not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiResult"
                },
                "example": {"status":"notFound","message":"Error message","displayMessage":"Optional display message"}
              }
            }
          },
          "401": {
            "description": "Unauthorized: Client Id or Client Secret are not correct or missing.",
            "content": {
              "application/json": {
                "schema": { }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ApiResult": {
        "type": "object",
        "properties": {
          "status": {
            "enum": [
[...]
